body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    overflow: hidden;
}

#calculator{
    font-family: Helvetica;
    overflow: hidden;
    background-color: rgb(166, 171, 175);
    max-width: 500px;
    border-radius: 15px;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(200, 206, 210);
    color: hsl(0, 96%, 68%);
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    padding-left: 10px;
}
button{
    width: 100px;
    height: 100px;
    font-size: 3rem;
    margin: 5px;
    border-radius: 50px;
    border: none;
    background-color: aliceblue;
    color: rgb(252, 97, 97);
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 96%, 68%);
    color: aliceblue;
}
button:active{
    background-color: hsl(0, 96%, 78%);
    color: aliceblue;
    transform: scale(0.9);
}
.operator{
    background-color: hsl(60, 2%, 19%);
    color: aliceblue;
}


