body{
    font-family: Helvetica; 
    background-color: hsl(0, 0%, 95%);
    margin: 0;
}
h1{
    text-align: center;
    font-size: 7rem;
    color: hsl(0, 91%, 65%);
}
#stopwatch{
    text-align: center;
    font-size: 5rem;
    color: hsl(181, 100%, 50%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 5% auto;
    border: 2px solid hsl(0, 91%, 65%);
    border-radius: 60px;
    padding: 2rem;
    width: fit-content;
    transition:all 0.5s;
}
#container button{
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
#button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#start{
    background-color: hsl(94, 100%, 42%);
}
#start:hover{
    background-color: hsl(86, 89%, 60%);
}
#stop{
    background-color: hsl(0, 91%, 65%);
}
#stop:hover{
    background-color: hsl(0, 91%, 80%);
}
#reset{
    background-color: hsl(181, 100%, 50%);
}
#reset:hover{
    background-color: hsl(181, 100%, 75%);
}
